/* Add a black background color to the top navigation */
html body {
	background-image: linear-gradient(#e2ebf0, #cfd9df);
	box-shadow: black 0px 0px 35px;
	width: 75%;
	margin: 0px auto;
	height: 100%;
}
body img {
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
.topnav {
	background-color: rgba(200, 200, 200, 0.655);
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #94b3bb;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.75em;
	transition: background-color 0.5s ease, color 0.565s ease-in;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-size: 100%;
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: rgb(161, 29, 173);
	color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	float: right;
}
a {
	transition: background-color 0.5s ease;
}
footer {
	transform: translateY(calc(75px));
	clear: both;
}
