@charset "UTF-8";

/* font-family: 'Nunito', sans-serif;
font-family: 'Montserrat', sans-serif;  */


html{
   font-family: 'Montserrat', sans-serif; 
   height: 100%;
   width: 100%;
}

/* header styles */
#bar {
	background-color: rgb(51, 51, 51);
	height: .4em;
}
#why{
   color: black;
}
header{
   width: 100%;
}
header img {
	width: 1em;
}
header h1 {
	padding-top: .3em;
	padding-left: .4em;
	height: 2em;
	font-size: 2em;
	font-family: 'Nunito', sans-serif;
	background-color: white;
}
#presentation {
	width: 70%;
	margin-left: 15%;
}

/* navigation styles */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
nav {
	width: 100%;
}
nav li {
	float: left;
	display: Inline;
	text-align: center;
	height: 1.5em;
	width: 20em;
}
#spring{
	color: rgb(253, 252, 252);
	background-color: rgb(240, 150, 248);
}
#spring:hover {
	color: rgb(226, 223, 223);
	background-color: rgb(210, 150, 216);
}
#summer {
	background-color: rgb(255, 255, 43);
	color: rgb(49, 49, 49);
}
#summer:hover {
	color: black;
	background-color: rgb(236, 236, 72);
}
#fall {
	background-color: orange;
	color: rgb(49, 49, 49);
}
#fall:hover {
	background-color: rgb(223, 147, 6);
	color: black;
}
#winter {
	background-color: rgb(114, 241, 250);
	color: rgb(49, 49, 49);
}
#winter:hover {
	background-color: rgb(100, 205, 212);
	color: black;
}

/* body styles */
body div {
	width: 80%;
	padding: 1em;
	margin: auto;
	border-radius: 1em;
}
body div h1 {
	margin: .5em;
	padding: .5em;
	height: 2em;
}
a{
	text-decoration: none;
}


/* information */
#who {
	margin-top: .8em;
	border: solid rgb(240, 150, 248) .1em;
}
#who h1 {
	background-color: pink;
}

#how {
	margin-top: 10px;
	border: solid rgb(216, 89, 228) .1em;
}
#how h1 {
	background-color: rgb(236, 81, 250);
}

/* footer styles */
footer {
	color: grey;
	font-size: .8em;
	text-align: center;
}
