@charset "UTF-8";

/* font-family: 'Nunito', sans-serif;
font-family: 'Montserrat', sans-serif;  */

html{
   font-family: 'Montserrat', sans-serif; 
   height: 100%;
   width: 100%;
}

/* header styles */
#bar{
   background-color: rgb(51, 51, 51);
   height: 5px;
}
header{
   width: 100%;
}
header img{
   width: 25px;
}
header h1{
   padding-top: 10px;
   padding-left: 10px;
   height: 50px;
   font-size: 25px;
   font-family: 'Nunito', sans-serif;
   background-color: white;
}
#presentation{
   width: 50%;
   margin-left: 25%;
}
/* navigation styles */
.clearfix::after {
   content: "";
   display: table;
   clear: both;
}
nav{
   width: 100%;
}
nav li{
   float: left;
   display: Inline;
   width: 25%;
   text-align: center;
}
#spring{
   color: rgb(253, 252, 252);
   background-color:rgb(240, 150, 248);
}
#spring:hover{
   color: rgb(226, 223, 223);
   background-color: rgb(210, 150, 216);
}
#summer{
   background-color: rgb(255, 255, 43);
   color: rgb(49, 49, 49);
}
#summer:hover{
   color: black;
   background-color: rgb(236, 236, 72);
}
#fall{
   background-color: orange;
   color: rgb(49, 49, 49);
}
#fall:hover{
   background-color: rgb(223, 147, 6);
   color: black;
}
#winter{
   background-color: rgb(114, 241, 250);
   color: rgb(49, 49, 49);
}
#winter:hover{
   background-color: rgb(100, 205, 212);
   color: black;
}

/* body styles */
body div{
   width: 80%;
   padding: 15px;
   margin: auto;
   border-radius: 10px;
}
body div h1{
   margin-left: 10px;
   margin-right: 10px;
   padding: 5px;
   height: 35px;
}
#who{
   margin-top: 10px;
   border: solid rgb(240, 150, 248) 2px;
}
#who h1{
   background-color: pink; 
}

#how{
   margin-top: 10px;
   border: solid rgb(216, 89, 228) 2px;
}
#how h1{
   background-color: rgb(236, 81, 250);
}


/* footer styles */
footer{
   color: grey;
   font-size: 10px;
   text-align: center;
}