@charset "UTF-8";

/* font-family: 'Nunito', sans-serif;
font-family: 'Montserrat', sans-serif;  */

html{
   font-family: 'Montserrat', sans-serif; 
   height: 100%;
   width: 100%;
}

/* header styles */
#bar{
   background-color: rgb(51, 51, 51);
   height: 5px;
}
header{
   width: 100%;
}
header img{
   width: 25px;
}
header h1{
   padding-top: 10px;
   padding-left: 10px;
   height: 50px;
   font-size: 25px;
   font-family: 'Nunito', sans-serif;
   background-color: white;
}

