@charset "UTF-8";

/* font-family: 'Nunito', sans-serif;
font-family: 'Montserrat', sans-serif;  */

a{
    text-decoration: none;
}
html{
    font-family: 'Montserrat', sans-serif; 
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header styles */
#bar {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: .4em;
}
header{
    z-index: 97;
    position: relative;
    width: 100%;
}
header img {
    width: 1em;
}
header h1 {    
    color: rgb(51, 51, 51);
    padding-top: .3em;
    padding-left: .4em;
    height: 2em;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    background-color: linear-gradient(#FFD6E0, rgb(204, 185, 209));
}
 
/* navigation styles */
.topnav {
    width: 100%;
    overflow: hidden;
}
.topnav a {
    width: 24%;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}
#springish{
    color: white;
    background-color: pink;
}
#springish:hover{
   color: white;
   background-color: rgb(240, 150, 248);
}
#summerish{
    color: rgb(51, 51, 51);
    background-color: yellow;
}
#summerish:hover{
   background-color: rgb(226, 226, 0);
}
#fallish{
    color: rgb(51, 51, 51);
    background-color: orange;
}
#fallish:hover{
   background-color: rgb(209, 136, 0);
}
#winterish{    
    color: rgb(51, 51, 51);
    background-color: rgb(152, 224, 226);
}
#winterish:hover{
   background-color: rgb(81, 207, 211);
}
/* themes */
div#theme button{
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
    font-size: 1em;
    margin: 1em;
    padding: 3em;
    border-radius: 100em;
}
#pink{
    color: white;
    background-color: rgb(255, 158, 182);
}
#yellow{
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 138);
}
#green{
    color: rgb(51, 51, 51);
    background-color: rgb(120, 233, 120);
}
#purple{
    color: white;
    background-color: rgb(252, 116, 252);
}

/* body styles */

form#order input, form#order label{
    margin-left: 1em;
}
div#drink1, div#drink2{
    padding: 1em;
}
h3{
    text-align: center;
    padding: 1em;
}
body:not(#bar){
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #FFEF9F;
    background: -webkit-gradient(linear-gradient((#FFEF9F),(#FFD6E0)));
    background: no-repeat fixed linear-gradient(#FFEF9F, #FFD6E0);
    margin-bottom: 15%;
}

     /* theme buttons and cards layout */
div#main::after, div#theme + div#cards + div#main {
    content: "";
    display: table;
    clear: both;
}
div#main h1{
    text-align: center;
}
div#main div#theme{
    width: 15%;
    margin-left: 1%;
    float: left;
}
div#main div#drink1,
div#main div#drink2{
    width: 35%;
    border: outset .1em rgb(250, 198, 211);
    border-radius: 1em;
    float: left;
}
div#main div#drink1{
    margin-right: 1em;
}

div#main div#drink1 img, 
div#main div#drink2 img{
    padding: 20px;
    border-radius: 1em;
    height: 100%;
}
#drink1 li, #rations{
    margin-left: 1em;
}
#drink1 img{
    margin-left: 30%;
    margin-right: auto;
    background-color: #FFEF9F;
    border: solid 3px rgb(250, 193, 207);
}
#drink2 img{
    margin-left: 25%;
    width: 50%;
    background-color: #FFD6E0;
    border: solid 3px rgb(255, 237, 148);
}
  
div#main #drink1 {
    background-color: #FFD6E0;
}

div#main #drink2 {
    background-color: rgb(252, 241, 189);
}
    
div#main img {
    height: 40%;
    width: 40%;
}
div#drink2 img{
    height: 50%;
    width: 50%;
}
  
div#main h1{
    color: rgb(55, 55, 55); 
    font-size: 1.8em; 
    margin: 5px;
    padding: 10px;
}
  
div#main #text {
    margin-top: -115px;
    font-weight: 600;
    padding: 5px 15px;
    font-size: 1.25em;
}

div.main {
    margin: 0px 0px;
    padding: 0px;
}

hr {
    width: 100%;
}

#text li {
    font-size: 1.55em;
    line-height: 102%;
}

*[id*="card"] {
    -webkit-transition: -webkit-transform ease 0.5s;
    transition: -webkit-transform ease 0.5s;
    transition: transform ease 0.5s;
    transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

*[id*="card"]:hover {
    -webkit-transform: scaleX(1.05) scaleY(1.05);
    transform: scaleX(1.05) scaleY(1.05);
}

a[href*="Reviews"] {
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    text-decoration: none;
    font-size: 1.5em;
    color: rgba(240, 240, 240, 0.7);
}

a[href*="Reviews"]:hover {
    color: white;
}

@media only screen and (max-width: 1880px) {
    div#main {
        width: 100%;
        margin: 20px auto;
    }
    *[id^="card"] {
        float: middle;
    }
}
/*# sourceMappingURL=winter.css.map */

/* footer styles */
footer{
    color: grey;
    font-size: 10px;
    text-align: center;
}

div.help{
    position: absolute;
    z-index: 99;
 }
  
 section{
  z-index: 100;
 }
  
  .flower{
      position:absolute ;
      width:100%;
      height:100%;
      top:0;
      left:0;
      transform: rotateY(-30deg);
      transform: translate3d(50deg);
      transform: rotate3d(1,1.5,2,-10deg);
  }
  .flower div{
  position:absolute ;
  display:block ;
  }
  .flower div:nth-child(1){
      left:20%;
      animation:falling 9s linear infinite ;
      animation-delay:-1s;
  }
  .flower div:nth-child(2){
      left:70%;
      animation:falling 17s linear infinite ;
      animation-delay:-3s;
  }
  .flower div:nth-child(3){
      left:10%;
      animation:falling 23s linear infinite ;
      animation-delay:-5s;
    
  }
  .flower div:nth-child(4){
      left:50%;
     animation:falling 18s linear infinite ;
     animation-delay:-6s;
  }
  .flower div:nth-child(5){
      left:85%;
      animation:falling 15s linear infinite ;
      animation-delay:-8s;
  }
  .flower div:nth-child(6){
      left:15%;
      animation:falling 12s linear infinite ;
      animation-delay:-10s;
  }
  .flower div:nth-child(7){
      left:90%;
      animation:falling 13s linear infinite ;
      animation-delay:-4s;
  }
  .flower2{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
 }
 .flower2 div{
 position:absolute ;
 display:block ;
 transform: rotateY(-30deg);
 transform: translate3d(50deg);
 transform: rotate3d(1,1.5,2,-15deg);
 }
 .flower2 div:nth-child(1){
    left:10%;
    animation:falling 17s linear infinite ;
    animation-delay:-3s;
 }
 .flower2 div:nth-child(2){
    left:60%;
    animation:falling 15s linear infinite ;
    animation-delay:-1s;
 }
 .flower2 div:nth-child(3){
    left:17%;
    animation:falling 26s linear infinite ;
    animation-delay:-9s;
  
 }
 .flower2 div:nth-child(4){
    left:53%;
   animation:falling 19s linear infinite ;
   animation-delay:-3s;
 }
 .flower2 div:nth-child(5){
    left:75%;
    animation:falling 20s linear infinite ;
    animation-delay:-7s;
 }
 .flower2 div:nth-child(6){
    left:15%;
    animation:falling 17s linear infinite ;
    animation-delay:-6s;
 }
 .flower2 div:nth-child(7){
    left:80%;
    animation:falling 11s linear infinite ;
    animation-delay:-10s;
 }
 .flower3{
  position:absolute ;
  width:100%;
  height:100%;
  top:0;
  left:0;
 }
 .flower3 div{
 position:absolute ;
 display: block;
 transform: rotateY(-30deg);
 transform: translate3d(50deg);
 transform: rotate3d(1,1.5,2,10deg);
 }
 .flower3 div:nth-child(1){
  left:25%;
  animation:falling 15s linear infinite ;
  animation-delay:-9s;
  
 }
 .flower3 div:nth-child(2){
  left:66%;
  animation:falling 14s linear infinite ;
  animation-delay:-4s;
 }
 .flower3 div:nth-child(3){
  left:30%;
  animation:falling 20s linear infinite ;
  animation-delay:-5s;
 }
 .flower3 div:nth-child(4){
  left:58%;
 animation:falling 12s linear infinite ;
 animation-delay:-8s;
 }
 .flower3 div:nth-child(5){
  left:78%;
  animation:falling 11s linear infinite ;
  animation-delay:-7s;
 }
 .flower3 div:nth-child(6){
  left:33%;
  animation:falling 16s linear infinite ;
  animation-delay:-8s;
 }
 .flower3 div:nth-child(7){
  left:92%;
  animation:falling 15s linear infinite ;
  animation-delay:-19s;
 }
  @keyframes falling{
      0%{
          opacity:1;
          top:-10%;
          transform:translateX (20px) rotateX(0deg);
      }
      15%{
          opacity:0.7;
          transform:translateX (-20px) rotateX(30deg);
      }
      30%{
          transform:translateX (-20px) rotateX(70deg);
      }
      60%{
        
         transform:translateX (-20px) rotateX(45deg);
      }
      75%{
    
          transform:translateX (-20px) rotateX(60deg);
      }
      100%{
        
          top:110%;
          transform:translateX (-20px) rotateX(200deg);
      }
 }
 div.topnav{
    position: relative;
    z-index: 98;
  }